body {
    margin: 0;
    background: #010101;
    color: #5afa97;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

#content {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    gap: 10%;
}

svg {
    display: block;
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
}

svg text {
    fill: #93f7ee;
}

.wire {
    stroke: #334155;
    stroke-width: 4;
    stroke-linecap: round;
    fill: none;
    transition: stroke 0.3s;
}

.wire.active {
    stroke: #cef522;
    filter: drop-shadow(0 0 6px #22c55e);
}

.gate {
    fill: #1e293b;
    stroke: #94a3b8;
    stroke-width: 2;
}

.lamp {
    fill: #1e293b;
    stroke: #94a3b8;
    stroke-width: 3;
    transition: fill 0.3s, filter 0.3s;
}

.lamp.on {
    fill: #faffdc;
    filter: drop-shadow(0 0 12px #22c55e);
}

.switch {
    cursor: pointer;
    fill: #94a3b8;
    stroke: #1e293b;
    stroke-width: 5;
    transition: fill 0.3s;
}

.switch.on {
    fill: #a3fd79;
}

text {
    fill: white;
    font-size: 18px;
    user-select: none;
}